# __ __  ____   ____  ______  __ __ 
#|  |  ||    \ |    ||      ||  |  |
#|  |  ||  _  | |  | |      ||  |  |
#|  |  ||  |  | |  | |_|  |_||  ~  |
#|  :  ||  |  | |  |   |  |  |___, |
#|     ||  |  | |  |   |  |  |     |
# \__,_||__|__||____|  |__|  |____/ 
                                   
# =============== #
# Unity generated #
# =============== #
Source/Unity3D/*/[Tt]emp/
Source/Unity3D/*/[Oo]bj/
Source/Unity3D/*/[Bb]uild
Source/Unity3D/*/[Ll]ibrary/
Source/Unity3D/*/sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Source/Unity3D/*/[Ee]xported[Oo]bj/
Source/Unity3D/*/*.userprefs
Source/Unity3D/*/*.csproj
Source/Unity3D/*/*.pidb
Source/Unity3D/*/*.suo
Source/Unity3D/*/*.sln*
Source/Unity3D/*/*.user
Source/Unity3D/*/*.unityproj
Source/Unity3D/*/*.booproj
# ============ #
# OS generated #
# ============ #
Source/Unity3D/*/.DS_Store*
Source/Unity3D/*/._*
Source/Unity3D/*/.Spotlight-V100
Source/Unity3D/*/.Trashes
Source/Unity3D/*/Icon?
Source/Unity3D/*/ehthumbs.db
Source/Unity3D/*/[Tt]humbs.db